* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #151515;
    overflow-x: hidden;
}

section {
    width: 90%;
    margin: 0 auto;
}

#contact button {
    width: 182px;
    height: 38px;
    border: #151515 solid 1px;
    margin-top: 30px;
}


/* PARTIE NAVIGATION*/

.tableaucomp {
    border: 1px solid black;
    background-color: white;
}

.tete {
    background-color: black;
}

.logo {
    width: 80px;
    padding: 0 10px auto;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/*<-- efect menu --> */


/*<-- effect menu --> */

.navigation {
    width: 1276px;
    margin: auto;
    background: #151515;
    position: relative;
    text-align: right;
}

.navigation ul {
    list-style: none;
}

.menu>li {
    display: inline-block;
    position: relative;
    font-weight: bold;
    /*<-- gross mot--> */
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    /*<-- suppr deco --> */
}

.menu li a:hover {
    color: #352bc0;
    transition: all .5s;
    /*<-- efect menu --> */
    transition: all .5s;
    /*<-- efect menu --> */
}


/* PARTIE MAIN */

#backgroundContainer {
    position: relative;
    width: 100%;
    ;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#backgroundContainer .titre {
    display: flex;
    flex-direction: column;
    color: white;
}

#backgroundContainer h1 {
    font-family: 'Megrim', cursive;
    text-align: center;
    font-size: 7rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
}

#backgroundContainer h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#main1 {
    width: 100%;
}

#main1 h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    color: white;
}


/* PARTIE SERVICES */

#service p {
    font-size: 20px;
    font-weight: bold;
    text-align: center, left;
    margin-top: 60px;
}

#service #service1 img {
    width: 130px;
    height: 125px;
    position: relative;
    right: 100px;
    top: 30px;
}

#service #service1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    line-height: 60px;
}

#service #service2 {
    line-height: 60px;
    margin-top: 60px;
}

#service #service1 ul {
    font-size: 20px;
}

#service #service2 ul {
    font-size: 20px;
}

#service #service2 img {
    display: block;
    float: right;
    width: 134px;
    height: 113px;
    position: relative;
    bottom: 140px;
    right: 200px;
}


/* PARTIE PROJETS */

#projet .jeu1 .jeu2 .jeu3 {
    height: 225px;
    width: 225px;
    border-radius: 100%;
    display: block;
    flex-direction: row;
}


/* PARTIE EQUIPE */

#equipe .groupe .photo .profil {
    height: 225px;
    width: 225px;
    border-radius: 100%;
}

#equipe .groupe .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipe .groupe .left {
    padding-left: 50px;
}

#equipe .groupe {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

#equipe .groupe .photo .deco {
    border: solid white 1px;
    padding: 10px 20px;
}

#equipe .groupe .photo p {
    margin-top: 20px;
}

#equipe {
    background-color: #151515;
    color: #fff;
    width: 100%;
    padding-top: 140px;
}


/* PARTIE CONTACTS */

#contact {
    padding-top: 90px;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 36px;
    padding-top: 60px;
}

#contact hr {
    border: 1px solid #151515;
    width: 555px;
    margin: 0 auto;
}

form input,
textarea {
    width: 400px;
    height: 10px;
    background: #F4F1F1;
    border: #151515 solid 1px;
    margin: 10px;
    font-size: 14px;
    color: #9F9F9F;
    padding: 30px;
}

#contact textarea {
    height: 150px;
    resize: none;
}

#contact button {
    width: 182px;
    height: 38px;
    border: #151515 solid 1px;
    margin-top: 30px;
}

#contact button:hover {
    border: #fff 1px solid;
    background-color: #151515;
    color: white;
}


/* PARTIE AGENCE */

#adresse {
    padding: 140px 0;
}

.agence1 {
    display: flex;
    justify-content: space-between;
}

.agence2 h2 {
    padding: 30px 0;
    font-size: 24px;
}

.mailto {
    text-decoration: none;
    color: #151515;
}

.icone {
    display: block;
    float: left;
    width: 134px;
    height: 113px;
    position: relative;
    bottom: 300px;
    right: 300px;
}

.reseaux {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer a {
    padding: 0 20px;
}

footer a img {
    width: 30px;
    height: 30px;
}

footer hr {
    border: 5px solid #151515;
}